@*@Html.Partial("~/Areas/Admin/Views/Shared/_BaiduAddressChoose.cshtml")*@

<script src="~/Areas/Admin/Scripts/GoodsCategory/Index.js"></script>

<div class="easyui-panel" data-options="closable:false,collapsible:false,minimizable:false,maximizable:false,border:false,fit:true" style="padding:2px;">
    <div>
        @Html.Partial("~/Areas/Admin/Views/Shared/_Button.cshtml")
    </div>
    <ul class="easyui-tree" id="goods_category_tree"></ul>
</div>
