<script src="~/Areas/Admin/Scripts/ClientManager/Index.js"></script>
<div class="easyui-panel" data-options="closable:false,collapsible:false,minimizable:false,maximizable:false,border:false,fit:true" style="padding:2px;">
    <form id="client_domain_form" style="width:100%;height:100%;">
        <table id="client_domain_grid"></table>
        <div id="client_domain_grid_tool" style="padding:15px;display:none;">            
            @Html.Partial("~/Areas/Admin/Views/Shared/_Button.cshtml")
        </div>
    </form>
</div>
