@{ Layout = null; }
@model Framework.DTO.EHECD_SystemUserDTO

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <!--bootstrap-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!--主题样式：可选-->    
    <link id="them" href="~/Content/themes/bootstrap/easyui.css" rel="stylesheet" />
       
    @*http://www.jeasyui.com/themebuilder/index.php*@

    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/themes/color.css" rel="stylesheet" />
    <link href="~/Content/themes/mobile.css" rel="stylesheet" />    

    <script src="~/scripts/jquery-1.11.3.js"></script>
    <script src="~/scripts/jquery.easyui-1.4.5.js"></script>
    <script src="~/scripts/lib/modules.manager.js"></script>
    <script src="~/scripts/lib/md5.module.js"></script>
    <script src="~/scripts/lib/base64.module.js"></script>
    <script src="~/scripts/lib/version.module.js"></script>
    <script src="~/scripts/lib/object.module.js"></script>
    <script src="~/scripts/lib/tool.module.js"></script>
    <script src="~/scripts/lib/array.module.js"></script>
    <script src="~/scripts/lib/func.module.js"></script>
    <script src="~/scripts/lib/easyui.module.js"></script>
    <script src="~/scripts/lib/global.variable.module.js"></script>

    <title>项目首页标题</title>

</head>
<body>
    <div id="layout" class="easyui-layout" data-options="fit:true">
        <!--上布局-->
        <div data-options="region:'north',title:'',split:false" style="height:100px;position:relative">
            <div style="width:380px;height:20px;right:0px;position:absolute;right:0px;bottom:5px">
                切换主题：
                <select class="easyui-combobox" data-options="editable:false,onSelect: function(rec){$('#them').attr('href',rec.value);}" style="width:80px;">
                    <option value="/Content/themes/default/easyui.css">默认</option>
                    <option value="/Content/themes/bootstrap/easyui.css" selected>bootstrap</option>
                    <option value="/Content/themes/gray/easyui.css">灰阶</option>
                    <option value="/Content/themes/black/easyui.css">夜间</option>
                    <option value="/Content/themes/material/easyui.css">质感</option>
                    <option value="/Content/themes/metro/easyui.css">地铁</option>
                    <option value="/Content/themes/ui-pepper-grinder/easyui.css">胡椒色</option>
                    <option value="/Content/themes/ui-cupertino/easyui.css">Cupertino</option>
                    <option value="/Content/themes/ui-sunny/easyui.css">阳光</option>
                </select>
                当前登录用户：<span class="glyphicon glyphicon-user"><span style="margin-left:2px">@(Model.sUserName)&emsp;</span></span><a href="/Admin/Main/ExitSystem" class="glyphicon glyphicon-log-out"><span style="margin-left:2px">安全退出</span></a>
            </div>
        </div>

        <!--下布局-->
        <div data-options="region:'south',title:'',split:false" style="height:80px;"></div>

        <!--左布局 菜单-->
        <div data-options="region:'west',title:'菜单',split:false,href:'/Admin/Menu',width:280" style="padding:1px"></div>

        <!--中间面板-->
        <div data-options="region:'center',title:''" style="padding:1px;background:#eee;">
            <div id="tabs" class="easyui-tabs" data-options="fit:true">
            </div>
        </div>
    </div>
</body>
</html>
