<script src="~/Areas/Admin/Scripts/AccountManager/Index.js"></script>

<div class="easyui-panel" data-options="closable:false,collapsible:false,minimizable:false,maximizable:false,fit:true" style="padding:1px">
    <table id="account_grid"></table>
</div>


