<script src="~/Areas/Admin/Scripts/SystemUser/Index.js"></script>
<div class="easyui-panel" data-options="closable:false,collapsible:false,minimizable:false,maximizable:false,border:false,fit:true" style="padding:2px;">
    <form id="systemuser_form" style="width:100%;height:100%;">
        <table id="systemuser_grid"></table>
        <div id="systemuser_grid_tool" style="padding:15px;display:none;background-color:snow">
            用户登录名或名字：<input class="easyui-textbox" name="sLoginName" data-options="width:160,validType:['maxLength[20]']" /> @Html.Partial("~/Areas/Admin/Views/Shared/_Button.cshtml")
        </div>
    </form>
</div>
