<configuration>
  <configSections>   
    <!--Unity注入容器配置对象-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <!--Unity配置-->
  <unity>
    <container name="defaultContainer">
      <!--Unity接口实现映射-->      
      <register type="Framework.Dapper.QueryHelper,Framework.Dapper" mapTo="Framework.Dapper.DapperDBHelper,Framework.Dapper"/>
    </container>
  </unity>
</configuration>